@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,500&family=Open+Sans:wght@400;700&display=swap');
:root{
    --bg-primary: #2791C2;
    --bg-secondary:#1E1E1E;
    --font-primary:#FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*------------------------------Header MOB-------------------------------*/
body{
    color: var(--font-primary);
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: var(--bg-primary);
    display: flex;
    height: 90px;
    align-items: center;
}
header h1{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    margin-right: 38px;
    line-height: 32px;
    /*font-family: 'Open Sans', sans-serif;*/
}
header h1 span{
    font-weight: 500;
    font-style: italic;
}
header .search-bar{
    position: relative;
}
header .search-bar img{
    position: absolute;
    top: 12px;
    left: 12px;

}
header .search-bar input{
    width: 244px;
    height: 46px;
    background: var(--font-primary);
    color: #BCBCBC;
    border-radius: 5px;
    border-style: none;
    padding-left: 48px;
    margin-right: 22px;
}
header a{
    color: var(--font-primary);
    font-size: 0.75rem;
    margin-right: 8px;
    text-decoration: none;
}
/*------------------------------Section movie-------------------------------*/
.first-movie-section{
    height: 850px;
    background-image: linear-gradient(90deg, #080E20 0%, rgba(15, 24, 54, 0.4) 100%), url(../img/Avatar\ 1.svg);
    background-repeat: no-repeat;
}
.first-movie-section .first-movie-container{
    padding: 152px 89px 152px;
}
.first-movie-container .genre{
    color: var(--bg-primary);
    font-size: 1.5rem;
}
.first-movie-container .star-container img{
    color: #FF9900;
    margin-top: 10px;
    width: 23.43px;
    height: 22.26px;
}
.first-movie-container h3{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 16.5px;
    margin-bottom: 14px;
    line-height: 38px;
}
.first-movie-container .first-movie-description{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 30px;
    line-height: 38px;
    height: 266px;
    width: 462px;
}
.first-movie-container .watch-btn{
    background-color: var(--bg-primary);
    border-radius: 93px;
    border-style: none;
    color: var(--font-primary);
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;  
    height: 75px;
    margin-left: 5px;
    width: 451px;
}
/*---------------movie section----------------*/
.movies-section{
    background-color: var(--bg-secondary);
}
.movies-section .most-watched{
    font-size: 2rem;
    font-weight: 700;
    padding: 50px 0 50px 95px;
}
.movies-section .movies-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.movies-section .movies-container .movie{
    width: 449px;
    height: 627.38px;
    margin-bottom: 49.62px;
}
.movies-section .movies-container .st{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/prey-mob.png);
}
.movies-section .movies-container .nd{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/jurassic\ mob.png);
}
.movies-section .movies-container .rd{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(../img/kong\ mob.png);
}
.movies-section .movies-container .movie .movie-title{
    margin-left: 55.88px;
    margin-top: 400px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}
.movies-section .movies-container .movie .star-container{
    margin-left: 55.88px;
}
.movies-section .movies-container .movie img{
    color: #FF9900;
    margin-top: 10px;
    width: 13.33px;
    height: 12.66px;
}
.movies-section .movies-container .movie .movie-description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    margin-left: 55.88px;
    margin-right: 53px;
}
