@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,500&family=Open+Sans:wght@400;700&display=swap');
:root{
    --bg-primary: #2791C2;
    --bg-secondary:#1E1E1E;
    --font-primary:#FFFFFF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*------------------------------Header MOB-------------------------------*/
body{
    color: var(--font-primary);
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: var(--bg-primary);
    display: flex;
    height: 90px;
    align-items: center;
}
header h1{
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    margin-right: 38px;
    line-height: 32px;
    /*font-family: 'Open Sans', sans-serif;*/
}
header h1 span{
    font-weight: 500;
    font-style: italic;
}
header .search-bar{
    position: relative;
}
header .search-bar img{
    position: absolute;
    top: 12px;
    left: 12px;

}
header .search-bar input{
    width: 244px;
    height: 46px;
    background: var(--font-primary);
    color: #BCBCBC;
    border-radius: 5px;
    border-style: none;
    padding-left: 48px;
    margin-right: 22px;
}
header a{
    color: var(--font-primary);
    font-size: 0.75rem;
    margin-right: 8px;
    text-decoration: none;
}
/*------------------------------First Section movie-------------------------------*/
.first-movie-section{
    height: 850px;
    background-image: linear-gradient(90deg, #080E20 0%, rgba(15, 24, 54, 0.4) 100%), url(../assets/home/Avatar\ mob.svg);
    background-repeat: no-repeat;
}
.first-movie-section .first-movie-container{
    padding: 152px 89px 152px;
}
.first-movie-container .genre{
    color: var(--bg-primary);
    font-size: 1.5rem;
}
.first-movie-container .star-container img{
    color: #FF9900;
    margin-top: 10px;
    width: 23.43px;
    height: 22.26px;
}
.first-movie-container h3{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 16.5px;
    margin-bottom: 14px;
    line-height: 38px;
}
.first-movie-container .first-movie-description{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 30px;
    line-height: 38px;
    height: 266px;
    width: 462px;
}
.first-movie-container .watch-btn{
    background-color: var(--bg-primary);
    border-radius: 93px;
    border-style: none;
    color: var(--font-primary);
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;  
    height: 75px;
    margin-left: 5px;
    width: 451px;
}
/*---------------movie section----------------*/
.movies-section{
    background-color: var(--bg-secondary);
}
.movies-section .most-watched{
    font-size: 2rem;
    font-weight: 700;
    padding: 50px 0 50px 95px;
}
.switch-col-container{
    display: none;
}
.movies-section .movies-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.movies-section .movies-container .movie{
    width: 449px;
    height: 627.38px;
    margin-bottom: 49.62px;
    position: relative;
    border: 2px solid var(--bg-primary);
}
.movies-section .movies-container .movie #movie-bg{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.movies-section .movies-container .movie .movie-title{
    position: relative;
    left: 55.88px;
    bottom: 253.58px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    z-index: 1;
    width: 333px;
}
.movies-section .movies-container .movie .star-container{
    position: relative;
    left: 55.88px;
    bottom: 247.58px;
    z-index: 1;
}
.movies-section .movies-container .movie img{
    color: #FF9900;
    margin-top: 10px;
    width: 13.33px;
    height: 12.66px;
}
.movies-section .movies-container .movie .movie-description{
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    position: relative;
    left: 55.88px;
    bottom: 223.58px;
    z-index: 1;
    width: 339.56px;
}
/*-----------------------------------------TAB screen----------------------------------------------------*/
@media(min-width:641px){
    /*-------------------Header Section------------------------*/
    header{
        justify-content: space-around;
    }

    /*-------------------First Movie Section------------------------*/
    .first-movie-section{
        height: 550px;
        background-image: linear-gradient(90deg, #080E20 0%, rgba(29, 29, 29, 0) 65.46%), url(../assets/home/Avatar\ 1.png);
        background-size: cover;
    }
    .first-movie-section .first-movie-container{
        padding: 89px 104px 88px;
    }
    .first-movie-container .genre{
        color: var(--bg-primary);
        font-size: 0.875rem;
        font-weight: 400;
    }
    .first-movie-container .star-container img{
        color: #FF9900;
        margin-top: 10px;
        width: 13.43px;
        height: 12.26px;
    }
    .first-movie-container h3{
        font-size: 3.5rem;
        margin-top: 13px;
        margin-bottom: 14px;
        line-height: 64px;
    }
    .first-movie-container .first-movie-description{
        font-size: 1rem;
        margin-bottom: 38px;
        margin-top: 20px;
        line-height: 32px;
        height: 128px;
        width: 530px;
    }
    .first-movie-container .watch-btn{
        border-radius: 45px;
        font-size: 1.25;
        height: 60px;
        width: 250px;
    }
}
@media(min-width:834px){
    header{
        justify-content: unset;
    }
    header h1{
        margin: 0;
        margin-left: 30px;
        margin-right: 64px;
    }
    header .search-bar input{
        width: 386px;
        height: 50px;
        margin-right: 63px;
    }
    header a{
        margin-right: 13px;
    }
     /*-------------------First Movie Section------------------------*/
    .first-movie-section .first-movie-container{
        padding: 89px 104px 88px;
    }
    .first-movie-container .first-movie-description{
        width: 605px;
    }
    /*---------------movie section----------------*/
    .movies-section{
        height: 554px;
    }
    .movies-section .movie-options .most-watched{
        font-size: 1.5rem;
        padding: 25px 0 15px 60px;
    }
    .movie-options{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .switch-col-container{
        display: flex;
        margin-right: 57px;
        align-items: center;
        margin-top: 28px;
        margin-bottom: 30px;
    }
    .switch-three{
        margin-right: 13px;
    }
    .movies-section .movies-container{
        flex-direction: row;
        justify-content: center;
    }
    .movies-section .movies-container .movie{
        width: 225px;
        height: 309px;
        margin-inline: 15px;
    }
    .movies-section .movies-container .movie .movie-title{
        margin: 0;
        bottom: 159px;
        left: 21px;
        font-weight: 700;
        font-size: 1.25rem;
        width: 183px;
    }
    .movies-section .movies-container .movie .star-container{
        bottom:160px;
        left: 21px;
    }
    .movies-section .movies-container .movie img{
        margin-top: 7.7px;
        width: 9.38px;
        height: 8.91px;
    }
    .movies-section .movies-container .movie .movie-description{
        font-size: 0.625rem;
        left: 21px;
        bottom: 150px;
        width: 188px;
        height: 59px;
    }
}
/*------------------------------------Desktop home screen------------------------------------------------*/
@media(min-width:845px){
    /*-------------------Header Section------------------------*/
    header{
        justify-content: space-around;
    }
}
@media(min-width:1400px){
    /*-------------------Header Section------------------------*/
    header{
        justify-content: unset;
        height: 69.95px;
    }
    header h1{
        margin: 0;
        margin-left: 100px;
        margin-right: 267px;
    }
    header .search-bar input{
        width: 384px;
        height: 41.97px;
        margin-right: 328px;
    }
    header a{
        margin-right: 12px;
    }
      /*-------------------First Movie Section------------------------*/
    .first-movie-section{
        height: 549.59px;
    }
    .first-movie-section .first-movie-container{
        padding: 89px 104px 88px;
    }
    .first-movie-container .first-movie-description{
        width: 605px;
    }
    /*---------------movie section----------------*/
    .movies-section{
        height: 729.46px;
    }
    .movies-section .most-watched{
        font-size: 1.5rem;
        margin: 29.98px 0 35.97px 148px;
    }
    .switch-col-container{
        margin-right: 217px;
    }
    .movies-section .movies-container .movie{
        width: 320px;
        height: 439.67px;
        margin-inline: 31px;
    }
    .movies-section .movies-container .movie .movie-title{
        margin: 0;
        bottom: 180.82px;
        left: 30px;
    }
    .movies-section .movies-container .movie .star-container{
        left: 30px;
        bottom:175px;
    }
    .movies-section .movies-container .movie img{
        margin-top: 7.7px;
        width: 9.38px;
        height: 8.91px;
    }
    .movies-section .movies-container .movie .movie-description{
        left: 30px;
        bottom:165px;
        margin-right: 58px;
        width: 232px;
        height: 83.94px;
    }
    .movies-section .movies-container .st, .nd{
        margin-right: 62px;
    }
    .movies-section .movies-container .nd .movie-title{
        height: 59.96px;
        width: 202px;
    }
}
